{% extends '@Admin/layout.html.twig' %}

{% block title %}Опросы{% endblock %}

{#{% do breadcrumbs.append('Опросы', path('admin_poll_list')) %}#}

{% block content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Фильтры</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    {#{% form_theme form '@Admin/Form/filter_form_theme.html.twig' %}#}
                    {#{{ form(form, {export:export}) }}#}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    {#{% if pagination|length %}#}
                        {#<table class="table">#}
                            {#<thead>#}
                            {#<tr>#}
                                {#<th>Id</th>#}
                                {#<th>Пользователь</th>#}
                                {#<th>Дата создания</th>#}
                                {#<th>Type</th>#}
                                {#<th>Статус</th>#}
                                {#<th>Логин</th>#}
                                {#<th>Баланс</th>#}
                                {#<th>Visible</th>#}
                                {#<th>Инструменты</th>#}
                            {#</tr>#}
                            {#</thead>#}
                            {#<tbody>#}
                            {#{% for item in pagination %}#}
                                {#<tr>#}
                                    {#<td>{{ item.id }}</td>#}
                                    {#<td>#}
                                        {#<a href="{{ path('admin_user_edit', {id: item.user.id}) }}" class="text-info">{{ item.user.email }}</a>#}
                                    {#</td>#}
                                    {#<td>{{ item.createdAt|date('d.m.Y') }}</td>#}
                                    {#<td>#}
                                        {#{{ item.typeName }}#}
                                        {#{% if item.type == constant('App\\MainBundle\\Document\\Account::TYPE_DIRECT') %}#}
                                            {#<div>#}
                                                {#Общий счет:#}
                                                {#{% if item.isTotalAccount %}#}
                                                    {#<span class="label label-success">Да</span>#}
                                                {#{% else %}#}
                                                    {#<span class="label label-danger">Нет</span>#}
                                                {#{% endif %}#}
                                            {#</div>#}
                                        {#{% endif %}#}
                                    {#</td>#}
                                    {#<td>#}
                                        {#{{ block('status_label') }}#}
                                        {#{{ block('visible_label') }}#}
                                        {#{{ block('banned_label') }}#}
                                    {#</td>#}
                                    {#<td>#}
                                        {#{% if item.clientName is defined and item.clientName is not empty %}#}
                                            {#<div>{{ item.clientName }}</div>#}
                                        {#{% endif %}#}
                                        {#<div>{{ item.login }} {{ block('prolongation_label') }}</div>#}
                                    {#</td>#}
                                    {#<td>{{ item.balance|money }}</td>#}
                                    {#<td>{% if item.visible %}<i class="fa fa-check"></i>{% endif %}</td>#}
                                    {#<td>#}
                                        {#<a href="{{ path('admin_account_edit', {id: item.id}) }}" class="btn btn-primary btn-sm" data-toggle="tooltip" title="Редактировать">#}
                                            {#<i class="fa fa-pencil"></i>#}
                                        {#</a>#}
                                    {#</td>#}
                                {#</tr>#}
                            {#{% endfor %}#}
                            {#</tbody>#}
                        {#</table>#}
                        {#{{ knp_pagination_render(pagination) }}#}
                    {#{% else %}#}
                        {#<div class="alert alert-warning">По вашему запросу ничего не найдено</div>#}
                    {#{% endif %}#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{#{% block status_label %}#}
    {#{% set labelClass = 'danger' %}#}
    {#{% if item.status == 'verified' %}#}
        {#{% set labelClass = 'success' %}#}
    {#{% elseif item.status == 'pending' %}#}
        {#{% set labelClass = 'default' %}#}
    {#{% elseif item.status == 'blocked' %}#}
        {#{% set labelClass = 'danger' %}#}
    {#{% endif %}#}

    {#<span class="label label-{{ labelClass }}" {% if item.comment %}data-toggle="tooltip" title="{{ item.comment }}"{% endif %}>{{ item.statusName }}</span>#}
{#{% endblock %}#}

{#{% block visible_label %}#}
    {#{% if not item.isVisible() %}#}
        {#<span class="label label-danger">Скрыт</span>#}
    {#{% endif %}#}
{#{% endblock %}#}

{#{% block banned_label %}#}
    {#{% if item.isBanned() %}#}
        {#<span class="label label-danger">Banned</span>#}
    {#{% endif %}#}
{#{% endblock %}#}

{#{% block prolongation_label %}{% spaceless %}#}
    {#{% if item.type == constant('App\\MainBundle\\Document\\Account::TYPE_MY_TARGET') and item.prolongationSum > 0 %}#}
        {#<span class="label label-info" data-toggle="tooltip" title="Автопополнение">Auto {{ item.prolongationSum|money }}</span>#}
    {#{% endif %}#}
{#{% endspaceless %}{% endblock %}#}