{% extends '@Admin/layout.html.twig' %}

{% block title %}Редактирование опроса{% endblock %}

{% do breadcrumbs.append('Опросы', path('admin_interview_list')) %}

{% do breadcrumbs.append('Редактирование') %}

{% form_theme form '@Admin/Form/theme.html.twig' _self %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    {{ form(form) }}
                </div>
            </div>

        </div>
    </div>


    <h2>Вопросы (общие)</h2>
    <div class="row">
        <div class="col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="btn-group">
                    </div>
                    <div class="btn-group pull-right">
                    </div>

                    {% import '@Admin/Question/macro.html.twig' as questionMacro %}

                    {% if interview.questions|length %}

                        <table class="table" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Заголовок</th>
                                <th>Тeма</th>
                                <th>Тип вопроса</th>
                                <th>Варианты ответов</th>
                                <th>Создан</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in interview.questions %}
                                <tr>
                                    <td>
                                        <a href="#" class="text-info">{{ item.id }}</a>
                                    </td>
                                    <td>
                                        {{ item.title }}
                                    </td>
                                    <td>
                                        {% if item.questionTag %}
                                            {{ item.questionTag.name }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ questionMacro.questionType(item.type) }}
                                    </td>
                                    <td>
                                        {% if item.type != 'table' %}
                                            {{ item.answers|join(', ') }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ item.createdAt.format('Y-m-d H:i:s') }}
                                    </td>
                                    <td>
                                        <a href="{{ path('admin_question_edit', {id: item.id}) }}"
                                           class="btn btn-primary btn-xs" data-toggle="tooltip" title="Редактировать">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div class="alert alert-warning">По вашему запросу ничего не найдено</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <h2>Добавление вопросов</h2>
    <div class="row">
        <div class="col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="form-group form-field">
                        <a href="{{ path('admin_question_new', {'interviewId': interview.id}) }}">
                            <button class="submit btn btn-primary"><i
                                        class="fa fa-plus"></i>Добавить новый
                            </button>
                        </a>

                        <button class="submit btn btn-primary" onclick="getQuestionSuggest()"><i
                                    class="fa fa-plus"></i> Добавить из банка
                        </button>
                        <div class="form-wrapper col-md-12 col-sm-10 col-xs-12">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function getQuestionSuggest() {
            $.ajax({
                url: "/question/internal/suggest-form",
                method: 'GET',
                data: {},
            })
                .done(function (data) {
                    console.log($(data).find('form'));
                    $('.form-wrapper').html($(data).find('form'));

                    var $form = $('.form-wrapper').find('form').closest('form');

                    var regions = '';
                    $('#regions-select  option:selected').each(function () {
                        regions += $(this).val() + '-';
                    });
                    regions = regions.substring(0, regions.length - 1);

                    $form.attr('action', "{{ '/question/internal/' ~ interview.id ~ '/add-from-bank' }}");
                })
                .fail(function () {
                    console.log('error');
                })
        }
    </script>

{% endblock %}

{% block form %}
    {% set transaction = form.vars.data %}
    {{ form_start(form) }}
    <div {{ block('widget_container_attributes') }}>
        {{ form_errors(form) }}

        {% for name, child in form %}
            {% if name != 'submit' %}
                {{- form_row(child) -}}
            {% endif %}
        {% endfor %}
        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-md-offset-2">
                {% if 'submit' in form|keys %}
                    {{ form_widget(form.submit) }}
                {% else %}
                    <button class="submit btn btn-primary" name="save"><i class="fa fa-save"></i> Сохранить</button>
                {% endif %}
            </div>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
