{% extends '@Admin/layout.html.twig' %}

{% block title %}Опросы{% endblock %}

{% do breadcrumbs.append('Опросы') %}

{% block content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Фильтры</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    {% form_theme form '@Admin/Form/filter_form_theme.html.twig' %}
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="btn-group">
                    </div>
                    <div class="btn-group pull-right">
                    </div>

                    {% if pagination|length %}
                        <table class="table" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Заголовок</th>
                                <th>Регионы</th>
                                <th>Создан</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in pagination %}
                                <tr>
                                    <td>
                                        <a href="#" class="text-info">{{ item._id }}</a>
                                    </td>
                                    <td>
                                        {{ item.title }}
                                    </td>
                                    <td>
                                        {% if item.regions is defined %}
                                            {{ item.regions|slice(0,4)|join(', ') }}
                                            {% if item.regions|length > 4 %}
                                                {{ '...' }}
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ item.createdAt.format('Y-m-d H:i:s') }}
                                    </td>
                                    <td>
                                        <a href="{{ path('admin_interview_edit', {id: item._id}) }}"
                                           class="btn btn-primary btn-xs" data-toggle="tooltip" title="Редактировать">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {{ knp_pagination_render(pagination) }}
                    {% else %}
                        <div class="alert alert-warning">По вашему запросу ничего не найдено</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}