{% extends '@Admin/layout.html.twig' %}

{% block title %}Редактирование вопроса{% endblock %}

{% do breadcrumbs.append('Вопросы', path('admin_question_list')) %}


{% do breadcrumbs.append('Редактирование') %}

{% form_theme form '@Admin/Form/theme.html.twig' _self %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>




    <h2>Варианты ответов</h2>
    <div class="row">
        <div class="col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="btn-group">
                    </div>
                    <div class="btn-group pull-right">
                    </div>

                    {% if question.answers|length %}

                        <table class="table" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>Номер</th>
                                <th>Текст</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in question.answers %}
                                <tr>
                                    <td>
                                        {{ loop.index }}
                                    </td>
                                    <td>
                                        {{ item }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div class="alert alert-warning">Пока нет добавленных вариантов ответов</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>



    <h2>Варианты ответов</h2>

    <div class="row">
        <div class="col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="form-group form-field">
                        {% if question.type == 'table' %}
                            <select class="form-control" id="regions-select">
                                <option value="1">Таблица 1</option>
                            </select>
                            <br>
                        {% endif %}
                        {% if question.type == 'table' %}
                            {#<button class="submit btn btn-primary" onclick="getTableAnswers()"><i#}
                                        {#class="fa fa-plus"></i> Добавить новый#}
                            {#</button>#}
                        {% else %}
                            <button class="submit btn btn-primary" onclick="getAnswersForm()"><i
                                        class="fa fa-plus"></i> Добавить новый
                            </button>
                        {% endif %}

                        <div class="form-wrapper col-md-12 col-sm-10 col-xs-12">

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function getAnswersForm() {
            $.ajax({
                url: '/answers/form',
                method: 'GET',
                data: {},
                success: function (html) {
                    console.log($(html).find('form'));
                    $('.form-wrapper').html($(html).find('form'));
                    var $form = $('.form-wrapper').find('form').closest('form');

                    $form.attr('action', "{{ '/answers/add/' ~ question.id }}");

                }
            });
        }

        function getTableAnswers() {
            $.ajax({
                url: "/answers/table-form",
                method: 'GET',
                data: {},
            })
                .done(function (data) {
                    console.log($(html).find('form'));
                    $('.form-wrapper').html($(data).find('form'));
                    var $form = $('.form-wrapper').find('form').closest('form');

                    {#$form.attr('action', "{{ '/answers-table/add/' ~ question.id }}");#}
                })
                .fail(function () {
                })
        }
    </script>
{% endblock %}

{% block form %}
    {% set transaction = form.vars.data %}
    {{ form_start(form) }}
    <div {{ block('widget_container_attributes') }}>
        {{ form_errors(form) }}
        {% for name, child in form %}
            {% if name != 'submit' %}
                {{- form_row(child) -}}
            {% endif %}
        {% endfor %}
        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-md-offset-2">
                {% if 'submit' in form|keys %}
                    {{ form_widget(form.submit) }}
                {% else %}
                    <button class="submit btn btn-primary" name="save"><i class="fa fa-save"></i> Сохранить</button>
                {% endif %}
            </div>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
