{% extends '@Admin/layout.html.twig' %}

{% block title %}Редактирование вопроса{% endblock %}

{% do breadcrumbs.append('Вопросы', path('admin_question_list')) %}


{% do breadcrumbs.append('Редактирование') %}

{% form_theme form '@Admin/Form/theme.html.twig' _self %}

{% block content %}
    {% if app.request.get('interviewId') %} <h4><a style="text-decoration: underline"
                                                   href="{{ path('admin_interview_edit', {'id': app.request.get('interviewId')}) }}">вернуться
            к опросу</a>
        </h4>{% endif %}
    <div class="row">
        <div class="col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>

    <h2>Варианты ответов</h2>
    <div class="row">
        <div class="col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="btn-group">
                    </div>
                    <div class="btn-group pull-right">
                    </div>

                    {% if question.answers|length %}
                        <table class="table" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>Номер</th>
                                <th>Текст</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if question.type != 'table' %}
                                {% for item in question.answers %}
                                    <tr>
                                        <td>
                                            {{ loop.index }}
                                        </td>
                                        <td>
                                            {{ item }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                {% for item in question.answers %}
                                    <tr>
                                        <td>
                                            {{ loop.index }}
                                        </td>
                                        <td>
                                            {{ item.name }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    {% else %}
                        <div class="alert alert-warning">Пока нет добавленных вариантов ответов</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="form-group form-field">
                        {#{% if question.type == 'table' %}#}
                        {#<select class="form-control" id="regions-select">#}
                        {#<option value="1">Таблица 1</option>#}
                        {#</select>#}
                        {#<br>#}
                        {#{% endif %}#}
                        {% if question.type == 'table' %}
                            <button class="submit btn btn-primary" onclick="showTable()"><i
                                        class="fa fa-plus"></i> Добавить таблицу
                            </button>
                        {% else %}
                            <button class="submit btn btn-primary" onclick="getAnswersForm()"><i
                                        class="fa fa-plus"></i> Добавить новый
                            </button>
                        {% endif %}

                        <div class="form-wrapper col-md-12 col-sm-10 col-xs-12">
                            <div hidden id="table_wrapper">
                                <div class="form-group form-field">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12 required">Заголовок*</label>
                                    <div class="col-md-10 col-sm-10 col-xs-12">
                                        <input id="table_title" class="form-control" type="text">
                                    </div>
                                </div>

                                <div class="form-group form-field">
                                    <label style="margin-top: 20px"
                                           class="control-label col-md-2 col-sm-2 col-xs-12 required">Вариант1*</label>
                                    <div style="margin-top: 20px" class="col-md-10 col-sm-10 col-xs-12">
                                        <input id="table_answer_1" class="form-control" type="text">
                                    </div>
                                </div>

                                <div class="form-group form-field">
                                    <label style="margin-top: 20px"
                                           class="control-label col-md-2 col-sm-2 col-xs-12 required">Вариант2</label>
                                    <div style="margin-top: 20px" class="col-md-10 col-sm-10 col-xs-12">
                                        <input id="table_answer_2" class="form-control" type="text">
                                    </div>
                                </div>

                                <div class="form-group form-field">
                                    <label style="margin-top: 20px"
                                           class="control-label col-md-2 col-sm-2 col-xs-12 required">Вариант3</label>
                                    <div style="margin-top: 20px" class="col-md-10 col-sm-10 col-xs-12">
                                        <input id="table_answer_3" class="form-control" type="text">
                                    </div>
                                </div>

                                <div class="form-group form-field">
                                    <label style="margin-top: 20px"
                                           class="control-label col-md-2 col-sm-2 col-xs-12 required">Вариант4</label>
                                    <div style="margin-top: 20px" class="col-md-10 col-sm-10 col-xs-12">
                                        <input id="table_answer_4" class="form-control" type="text">
                                    </div>
                                </div>

                                <div class="form-group form-field">
                                    <label style="margin-top: 20px"
                                           class="control-label col-md-2 col-sm-2 col-xs-12 required">Вариант5</label>
                                    <div style="margin-top: 20px" class="col-md-10 col-sm-10 col-xs-12">
                                        <input id="table_answer_5" class="form-control" type="text">
                                    </div>
                                </div>
                                <button class="submit btn btn-primary" onclick="saveTable()"><i
                                            class="fa fa-plus"></i> Сохранить
                                </button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>

    <script>
        function getAnswersForm() {
            $.ajax({
                url: '/answers/form',
                method: 'GET',
                data: {},
                success: function (html) {
                    console.log($(html).find('form'));
                    $('.form-wrapper').html($(html).find('form'));
                    var $form = $('.form-wrapper').find('form').closest('form');

                    $form.attr('action', "{{ '/answers/add/' ~ question.id }}");
                }
            });
        }

        function saveTable() {

            var title = $("#table_title").val();
            var answer1 = $("#table_answer_1").val();
            var answer2 = $("#table_answer_2").val();
            var answer3 = $("#table_answer_3").val();
            var answer4 = $("#table_answer_4").val();
            var answer5 = $("#table_answer_5").val();
            var answers = [answer1, answer2, answer3, answer4, answer5];

            $.ajax({
                url: '/answers/add-table/' + {{ question.id }},
                method: 'POST',
                data: {
                    'title': title,
                    'answers': answers
                },
                success: function (data) {
                    if (data === 'ok') {
                        window.location.reload();
                    }
                }
            });
        }

        function showTable() {
            $("#table_wrapper").show();
        }
    </script>
{% endblock %}

{% block form %}
    {% set transaction = form.vars.data %}
    {{ form_start(form) }}
    <div {{ block('widget_container_attributes') }}>
        {{ form_errors(form) }}
        {% for name, child in form %}
            {% if name != 'submit' %}
                {{- form_row(child) -}}
            {% endif %}
        {% endfor %}
        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-md-offset-2">
                {% if 'submit' in form|keys %}
                    {{ form_widget(form.submit) }}
                {% else %}
                    <button class="submit btn btn-primary" name="save"><i class="fa fa-save"></i> Сохранить</button>
                {% endif %}
            </div>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
