{% extends '@Admin/layout.html.twig' %}

{% block title %}Создание вопроса{% endblock %}

{% do breadcrumbs.append('Вопросы', path('admin_question_list')) %}

{% do breadcrumbs.append('Создание') %}


{% form_theme form '@Admin/Form/theme.html.twig' _self %}

{% block content %}
    {% if interviewId %} <h4><a style="text-decoration: underline"
                                href="{{ path('admin_interview_edit', {'id': interviewId}) }}">вернуться к опросу</a>
        </h4>{% endif %}
    <div class="row">
        <div class="col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block form %}
    {% set transaction = form.vars.data %}
    {{ form_start(form) }}
    <div {{ block('widget_container_attributes') }}>
        {{ form_errors(form) }}

        {% for name, child in form %}
            {% if name != 'submit' %}
                {{- form_row(child) -}}
            {% endif %}
        {% endfor %}
        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-md-offset-2">
                {% if 'submit' in form|keys %}
                    {{ form_widget(form.submit) }}
                {% else %}
                    <button class="submit btn btn-primary" name="save"><i class="fa fa-save"></i> Далее</button>
                {% endif %}
            </div>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
